<?xml version="1.0" encoding="UTF-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
>

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 기본 서블릿 -->
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/home/servlet/servlet-home.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home/*</url-pattern>
	</servlet-mapping>
	
	<!-- 기본 주소값 설정 -->
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 자바의 정석 -->
	<servlet>
		<servlet-name>java_standard</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/java/standard/servlet/servlet-standard.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>java_standard</servlet-name>
		<url-pattern>/java/standard/*</url-pattern>
	</servlet-mapping>
	
	<!-- JSPAndServlet -->
	<servlet>
		<servlet-name>JSPAndServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/java/JSPAndServlet/servlet/servlet-JSPAndServlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>JSPAndServlet</servlet-name>
		<url-pattern>/java/JSPAndServlet/*</url-pattern>
	</servlet-mapping>
</web-app>
